.footer {
  display: flex;
  margin-bottom: 8rem;
  padding-bottom: 5rem;
  justify-content: space-between;
}

.logo {
  width: 30rem;
  height: auto;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.orders {
  background-color: #e57300;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-family: inherit;
  padding: 1.5rem 5rem;
  transition: all 300ms ease-in;
  width: 100%;
  border-radius: 0.7rem;
  font-family: 1.3rem;
}

.orders:hover {
  background-color: #daeef2;
  color: #2e3033;
}
