.footer {
  display: flex;
  flex-direction: column;

  padding-bottom: 4rem;
}

.details {
  display: flex;
  gap: 3rem;

  justify-content: space-between;
  align-items: center;
}
.small {
  display: block;
  text-align: center;
  font-size: 1.6rem;
}

.contact {
  font-size: 1.8rem;
}

.logo {
  width: 30rem;
  height: auto;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.orders {
  background-color: #e57300;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-family: inherit;
  padding: 1.5rem 5rem;
  transition: all 300ms ease-in;
  width: 100%;
  border-radius: 0.7rem;
  font-family: 1.3rem;
}

.orders:hover {
  background-color: #daeef2;
  color: #2e3033;
}

@media screen and (max-width: 53em) {
  .details {
    flex-direction: column;

    align-items: start;
  }

  .small,
  .contact {
    font-size: 1.8rem;
  }

  .details {
    gap: 3rem;
  }
}

@media screen and (max-width: 44em) {
  .logo {
    width: 28rem;
    height: auto;
  }
}

@media screen and (max-width: 32em) {
  .logo {
    width: 22rem;
  }
}
