.logo {
  width: 40rem;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  color: inherit;
  margin-bottom: 8rem;
  padding-top: 5rem;
  justify-content: space-between;
}

.icon {
  visibility: hidden;
  outline: 0;
  border: 0;
  display: none;
  pointer-events: none;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.menu {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.orders {
  background-color: #e57300;
  border: 0;
  cursor: pointer;
  outline: 0;
  color: #fff !important;
  font-family: inherit;
  padding: 1.5rem 5rem;
  transition: all 300ms ease-in;
  width: 100%;
  border-radius: 0.7rem;
  font-family: 1.3rem;
}

.orders:hover {
  background-color: #daeef2;
  color: #2e3033 !important;
}

@media screen and (max-width: 62.5em) {
  .list {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .logo {
    width: 28rem;
    height: auto;
  }

  .menu {
    visibility: visible;
    display: block;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #daeef2;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 62.5em) {
  .icon {
    background-color: transparent;
    visibility: visible;
    display: block;
    pointer-events: all;
  }
}

@media screen and (max-width: 32em) {
  .logo {
    width: 22rem;
  }
}
