.hero {
  text-align: center;
  margin-bottom: 12rem;
}

.heading {
  font-size: 7rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1rem;
  /* text-transform: uppercase; */
  line-height: 1;
}

.byline {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.orders {
  background-color: #e57300;
  border: 0;
  cursor: pointer;
  color: #fff !important;
  outline: 0;
  font-family: inherit;
  padding: 1.5rem 5rem;
  transition: all 300ms ease-in;
  width: 100%;
  border-radius: 0.7rem;
  font-family: 1.3rem;
}

.orders:hover {
  background-color: #daeef2;
  color: #2e3033 !important;
}

@media screen and (max-width: 33.25em) {
  .heading {
    font-size: 5rem;
  }

  .byline {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 25em) {
  .heading {
    font-size: 3.5rem;
  }
}
