.main {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  margin-bottom: 12rem;
}

.section {
  padding: 3rem 6rem 9rem 6rem;
  flex: 1;
  transition: all 300ms ease-in;
  cursor: pointer;
  background-color: #0a101a;

  border-radius: 0.8rem;
  color: #b8c8e5;
}

.section:nth-child(2) {
  position: relative;
}

.title {
  font-size: 2.3rem;
  line-height: 1;
  margin-bottom: 3rem;
  color: #0c111a;
  font-weight: 400;
  color: #b8c8e5;
  text-transform: uppercase;
}

.banner {
  position: absolute;
  top: -3%;
  left: 5%;
  border: 0.3rem solid #b8c8e5;

  padding: 1rem 2rem;
  background-color: red;
  border-radius: 1rem;
}

.subhead {
  font-weight: 900;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
}

.desc {
  font-size: 1.9rem;
  padding: 0;
  padding-left: 2rem;
  list-style-type: circle;
  margin-bottom: 1rem;
}

.pricing {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.span {
  overflow-wrap: break-word;
}

.icon {
  width: 2.4rem;
  fill: #0c111a;
  height: 2.4rem;
}

.desc > * {
  color: #2e3033;
  color: #b8c8e5;
  line-height: 1;
  margin-bottom: 1rem;
  word-break: break-word;
  font-weight: 400;
}

.img {
  width: 30rem;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: block;
  text-align: center;
  height: auto;
}

.btn {
  background-color: #b8c8e5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 0;
  color: #0c111a !important;
  cursor: pointer;
  outline: 0;
  font-family: inherit;
  padding: 1.5rem 3rem;
  transition: all 300ms ease-in;
  width: 100%;
  font-weight: 500;
  text-align: center;
  border-radius: 0.7rem;
  font-family: 1.3rem;
}

.btn:hover {
  background-color: #e57300;
  color: #fff !important;
}

.btn:hover .icon {
  fill: red !important;
  stroke: red !important;
  color: red !important;
}

@media screen and (max-width: 115em) {
  .main {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .section {
    flex: 1 1 auto;
    padding: 3rem;
  }

  .section:nth-child(3) {
    justify-self: flex-start;
    flex: 0 1 50%;
  }
}

@media screen and (max-width: 65em) {
  .section {
    flex: 1 1 auto;
  }

  .section:nth-child(3) {
    flex: 0 1 50%;
  }
}

@media screen and (max-width: 52em) {
  .main {
    gap: 3.5rem;
    margin-bottom: 9rem;
  }

  .section:nth-child(3) {
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 31.25em) {
  .title {
    font-size: 1.9rem;
    overflow-wrap: break-word;
    font-weight: 600;
  }

  .main {
    margin-bottom: 6rem;
  }

  .subhead {
    font-size: 1.6rem;
  }

  .desc {
    font-size: 1.6rem;
  }
}

/* @media screen and (max-width: 25em) {
  .title {
    font-size: 1.6rem;
  }
} */
