.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.section {
  padding: 3rem;
  color: #fff;
  border-radius: 0.3rem;
}

.title {
  font-size: 2.6rem;
  font-weight: 600;
}

.desc {
  font-size: 1.6rem;
  padding: 0;
  padding-left: 2rem;
  list-style: disc;
  margin-bottom: 2rem;
}

.desc > * {
  color: #dae2f2;
}

.img {
  width: 30rem;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: inline-block;
  text-align: center;
  height: auto;
}

.btn {
  background-color: #e57300;
  border: 0.1rem solid transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-family: inherit;
  padding: 1rem 3rem;
  width: 100%;
  border-radius: 0.5rem;
  font-family: 1.3rem;
}

.btn:hover {
  background-color: #ff1a1a;
}
