.modal {
  height: 100vh;

  position: absolute;

  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  visibility: hidden;
  display: none;
  pointer-events: none;
  background-color: #181e29;
}

.close {
  visibility: hidden;
  display: none;
  pointer-events: none;
}

.icon {
  position: absolute;
  right: 10%;
  color: red;

  top: 10%;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 999;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.logo {
  width: 30rem;

  height: auto;
  margin-bottom: 8rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;

  font-size: 1.8rem;
  text-transform: uppercase;
}

.list:nth-child(4) {
  text-align: center;
  margin-left: -5rem;
}

.order {
  text-align: center;
  margin-top: 1.8rem;
}

.orders {
  border: 0;

  /* border: 0.2rem solid #daeef2; */
  /* background-color: red; */
  background-color: #e57300;
  cursor: pointer;
  outline: 0;
  font-family: inherit;
  padding: 1.5rem 5rem;
  transition: all 300ms ease-in;
  width: 100%;
  color: #fff !important;
  border-radius: 0.7rem;
  font-family: 1.3rem;
}

.orders:hover {
  background-color: #daeef2;
  color: #2e3033;
}

@media screen and (max-width: 62.5em) {
  .modal {
    visibility: visible;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    display: flex;
    flex-direction: column;
  }
}
